
/*	BL_Dark_Blue: #193d6c;
	BL_Ligh_Blue: #65c9dd;
*/

@font-face {
	font-family: Arvo;
	src: url("../fonts/Arvo/Arvo-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Josefin-Slab;
	src: url("../fonts/Josefin_Slab/JosefinSlab-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}

/* 
progress bar taken from https://codepen.io/k33k00/pen/ByeyVB
*/
.progressContainer {
  left:0;
  width: 100%;
  height: 0.4em;
  margin-bottom: 0px;
  position: fixed;
  bottom: 0px;
  overflow: hidden;
  background-color: white;
  content: "";
  display: table;
  table-layout: fixed;
  z-index: 100;
}

.progressBar {
  width: 0%;
  float: left;
  height: 100%;
  z-index:99;
  max-width: 100%;
  background-color: #65c9dd;
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
  z-index: 100;
}

.myYolkSlides {
	width: 100%;
}

.factbookSlides {
	width: 100%;
}

span.step {
  background: #cccccc;
  border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 5px;
  text-align: center;
  width: 1.6em; 
  float: left;
}

.stepText {
  padding-left: 12.5%;
  padding-right: 12.5%;
}
